.col1 {
    box-sizing: border-box;
    background-color: #cccccc;
    height: 300px;
    padding-left: 35px;
}

.col2 {
    box-sizing: border-box;
    background-color: #fff;
    height: 300px;
    padding-left: 30px;
    text-align: center;
}

.col3 {
    background-color: #669966;
    height: 350px;
}

.col4 {
    background-color: #6666cc;
    height: 350px
}
